@{
    ViewData["Title"] = "Inicio";
    bool esAdmin = false;
    foreach (var c in User.Claims)
    {
        if (c.Value == "Administrador") esAdmin = true;
    }
}

<div class="text-center">
    <div class="row justify-content-center mt-2">

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-copyright" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Administracion de Categorias</h5>
                    <p class="card-text">Crea, Edita o Elimina Categorias en el Sistema para la administracion y gestion de Equipos Tecnologicos!</p>
                    <a asp-controller="Categorias" asp-action="Index"
                       class="btn btn-outline-danger col-12">Ir a la Administracion</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-laptop" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Administracion de Productos</h5>
                    <p class="card-text">Gestion de Productos de la Tienda</p>
                    <a asp-controller="Productos" asp-action="Index"
                       class="btn btn-outline-info col-12">Ir a la Administracion</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center mt-2">

        

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-user-gear" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Administracion de Usuarios</h5>
                    <p class="card-text">Crea, edita o elimina nuevos Usuarios</p>
                    @if (esAdmin)
                    {
                       <a asp-controller="Usuarios" asp-action="GestionUsuarios"
                       class="btn btn-outline-warning col-12">Ir a la Administracion</a>
                    }
                    else
                    {
                       <a asp-controller="Usuarios" asp-action="GestionUsuarios"
                       class="btn btn-outline-warning col-12 disabled">Sin Acceso a Esta Funcion</a>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-right-from-bracket" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Salir</h5>
                    <p class="card-text">Cerrar la Session Activa</p>
                    <a asp-controller="Auth" asp-action="LogOut"
                       class="btn btn-outline-secondary col-12">Log Out</a>
                </div>
            </div>
        </div>

    </div>
</div>
